body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #5865f2;
  color: white;
  border-radius: 5px;
}
